In [2]:
import pandas as pd

In [3]:
free_ride = pd.read_csv('C:/Users/samsung/Desktop/HUFS 3-1/데이터사이언스/서울시 지하철 호선별 역별 유_무임 승하차 인원 정보.csv', sep = ',', header = 0, engine = 'python', encoding='cp949')

In [4]:
free_ride.head()

      사용월  호선명          지하철역  유임승차인원  무임승차인원  유임하차인원  무임하차인원      작업일자
0  202204  1호선          종로3가  430565  276081  385851  255697  20220503
1  202204  1호선           제기동  216803  265388  208213  284255  20220503
2  202204  1호선            시청  496353   75835  507407   73949  20220503
3  202204  1호선  청량리(서울시립대입구)  317992  247000  310677  248184  20220503
4  202204  1호선           동대문  210619  113889  194802  112994  20220503

In [5]:
free_ride1 = free_ride[["사용월", "지하철역", "무임승차인원", "무임하차인원"]]

In [6]:
free_ride1.head()

      사용월          지하철역  무임승차인원  무임하차인원
0  202204          종로3가  276081  255697
1  202204           제기동  265388  284255
2  202204            시청   75835   73949
3  202204  청량리(서울시립대입구)  247000  248184
4  202204           동대문  113889  112994

## 구로구

In [6]:
guro_free_ride2 = free_ride1[(free_ride1['지하철역'] == '신도림')|(free_ride1['지하철역'] =='구로')|(free_ride1['지하철역'] =='개봉')|(free_ride1['지하철역'] =='대림')|(free_ride1['지하철역'] =='구로디지털단지')|(free_ride1['지하철역'] =='온수')|(free_ride1['지하철역'] =='오류동')|(free_ride1['지하철역'] =='남구로')|(free_ride1['지하철역'] =='천왕')|(free_ride1['지하철역'] =='구일')|(free_ride1['지하철역'] == '도림천')]
guro_free_ride_2021 = guro_free_ride2[(guro_free_ride2['사용월'] == 202101)|(guro_free_ride2['사용월'] == 202102)|(guro_free_ride2['사용월'] == 202103)|(guro_free_ride2['사용월'] == 202104)|(guro_free_ride2['사용월'] == 202105)|(guro_free_ride2['사용월'] == 202106)|(guro_free_ride2['사용월'] == 202107)|(guro_free_ride2['사용월'] == 202108)|(guro_free_ride2['사용월'] == 202109)|(guro_free_ride2['사용월'] == 202110)|(guro_free_ride2['사용월'] == 202111)|(guro_free_ride2['사용월'] == 202112)]
guro_free_ride_2021.head()

         사용월     지하철역  무임승차인원  무임하차인원
2474  202112      도림천    6423    7049
2490  202112  구로디지털단지  146156  148585
2491  202112      신도림  162357  153213
2666  202112      남구로   52625   52709
2676  202112       천왕   47698   47075

In [7]:
free_ride_guro_2021 = guro_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_guro_2021))
free_off_guro_2021 = guro_free_ride_2021['무임하차인원'].mean()
print(round(free_off_guro_2021))

73482
73189

## 강남구

In [8]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '삼성')|(free_ride1['지하철역'] =='선릉')|(free_ride1['지하철역'] =='역삼')|(free_ride1['지하철역'] =='강남')|(free_ride1['지하철역'] =='압구정')|(free_ride1['지하철역'] =='신사')|(free_ride1['지하철역'] =='매봉')|(free_ride1['지하철역'] =='도곡')|(free_ride1['지하철역'] =='대치')|(free_ride1['지하철역'] =='학여울')|(free_ride1['지하철역'] == '대청')|(free_ride1['지하철역'] == '일원')|(free_ride1['지하철역'] == '수서')|(free_ride1['지하철역'] == '압구정로데오')|(free_ride1['지하철역'] == '강남구청')|(free_ride1['지하철역'] == '선전릉')|(free_ride1['지하철역'] == '한티')|(free_ride1['지하철역'] == '구룡')|(free_ride1['지하철역'] == '개포동')|(free_ride1['지하철역'] == '대모산입구')|(free_ride1['지하철역'] == '봉은사')|(free_ride1['지하철역'] == '삼성중앙')|(free_ride1['지하철역'] == '언주')|(free_ride1['지하철역'] == '신논현')|(free_ride1['지하철역'] == '청담')|(free_ride1['지하철역'] == '학동')|(free_ride1['지하철역'] == '논현')]
gang_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
gang_free_ride_2021.head()

         사용월 지하철역  무임승차인원  무임하차인원
2473  202112   강남  153264  137102
2484  202112   역삼  133013  133875
2487  202112   선릉  187935  165934
2495  202112   대청   50414   48651
2498  202112  학여울   12063   11948

In [9]:
free_ride_gang_2021 = gang_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_gang_2021))
free_off_gang_2021 = gang_free_ride_2021['무임하차인원'].mean()
print(round(free_off_gang_2021))

53020
51275

## 강북구

In [10]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '미아')|(free_ride1['지하철역'] =='수유(강북구청)')|(free_ride1['지하철역'] =='미아사거리')|(free_ride1['지하철역'] =='북한산우이')|(free_ride1['지하철역'] =='4.19민주묘지')|(free_ride1['지하철역'] =='솔샘')|(free_ride1['지하철역'] =='가오리')|(free_ride1['지하철역'] =='화계')|(free_ride1['지하철역'] =='솔밭공원')|(free_ride1['지하철역'] =='삼양')|(free_ride1['지하철역'] == '삼양사거리')]
buk_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
buk_free_ride_2021.head()

         사용월      지하철역  무임승차인원  무임하차인원
2545  202112  수유(강북구청)  165420  166307
2552  202112     미아사거리  152744  152209
2993  202112      솔밭공원   24514   25707
2994  202112        화계   35650   35975
2995  202112     삼양사거리   31241   31556

In [11]:
free_ride_buk_2021 = buk_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_buk_2021))
free_off_buk_2021 = buk_free_ride_2021['무임하차인원'].mean()
print(round(free_off_buk_2021))

54924
55224

## 동대문구

In [12]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '청량리')|(free_ride1['지하철역'] =='회기')|(free_ride1['지하철역'] =='장한평')|(free_ride1['지하철역'] =='신이문')|(free_ride1['지하철역'] =='제기동')|(free_ride1['지하철역'] =='신설동')|(free_ride1['지하철역'] =='용두')|(free_ride1['지하철역'] =='외대앞')|(free_ride1['지하철역'] =='고려대')|(free_ride1['지하철역'] =='답십리')]
dong_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
dong_free_ride_2021.head()

         사용월 지하철역  무임승차인원  무임하차인원
2436  202112  제기동  226280  241771
2441  202112  신설동  101018   97747
2467  202112  신설동   27957   29919
2561  202112  답십리   68212   66676
2568  202112  장한평   77396   78790

In [13]:
free_ride_dong_2021 = dong_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_dong_2021))
free_ride_dong_2021 = dong_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_dong_2021))

79376
80213

## 도봉구

In [14]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '창동')|(free_ride1['지하철역'] =='방학')|(free_ride1['지하철역'] =='도봉')|(free_ride1['지하철역'] =='도봉산')|(free_ride1['지하철역'] =='쌍문')|(free_ride1['지하철역'] =='녹천')|(free_ride1['지하철역'] =='솔밭공원')]
dobong_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
dobong_free_ride_2021.head()

         사용월 지하철역  무임승차인원  무임하차인원
2535  202112   창동  161414  167430
2542  202112   쌍문  136571  135066
2698  202112  도봉산   40213   56282
2809  202112   창동       1       0
2814  202112   방학   90307   89545

In [16]:
free_ride_dobong_2021 = dobong_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_dobong_2021))
free_ride_dobong_2021 = dobong_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_dobong_2021))

70356
70263

## 노원구

In [17]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '광운대')|(free_ride1['지하철역'] =='태릉입구')|(free_ride1['지하철역'] =='공릉')|(free_ride1['지하철역'] =='월계')|(free_ride1['지하철역'] =='노원')|(free_ride1['지하철역'] =='상계')|(free_ride1['지하철역'] =='수락산')|(free_ride1['지하철역'] =='당고개')|(free_ride1['지하철역'] =='화랑대')|(free_ride1['지하철역'] =='하계')|(free_ride1['지하철역'] =='중계')|(free_ride1['지하철역'] =='마들')]
nowon_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
nowon_free_ride_2021.head()

         사용월  지하철역  무임승차인원  무임하차인원
2536  202112    노원   75700   75467
2546  202112   당고개   75008   73874
2554  202112    상계  100132   98932
2615  202112  태릉입구   25561   26465
2655  202112    마들   72547   72409

In [18]:
free_ride_nowon_2021 = nowon_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_nowon_2021))
free_ride_nowon_2021 = nowon_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_nowon_2021))

67102
66122

## 성북구

In [19]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '성신여대입구')|(free_ride1['지하철역'] =='한성대입구')|(free_ride1['지하철역'] =='고려대')|(free_ride1['지하철역'] =='월곡')|(free_ride1['지하철역'] =='안암')|(free_ride1['지하철역'] =='길음')|(free_ride1['지하철역'] =='돌곶이')|(free_ride1['지하철역'] =='보문')|(free_ride1['지하철역'] =='상월곡')|(free_ride1['지하철역'] =='북한산보국문')|(free_ride1['지하철역'] =='정릉')]
seongbuk_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
seongbuk_free_ride_2021.head()

         사용월    지하철역  무임승차인원  무임하차인원
2541  202112      길음   95193   95820
2613  202112      보문   26092   24645
2620  202112     돌곶이   49586   49242
2992  202112      정릉   39037   37053
3000  202112  북한산보국문   37419   38055

In [20]:
free_ride_seongbuk_2021 = seongbuk_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_seongbuk_2021))
free_ride_seongbuk_2021 = seongbuk_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_seongbuk_2021))

41328
40818

## 중랑구

In [21]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '중랑')|(free_ride1['지하철역'] =='상봉')|(free_ride1['지하철역'] =='망우')|(free_ride1['지하철역'] =='신내')|(free_ride1['지하철역'] =='사가정')|(free_ride1['지하철역'] =='면목')|(free_ride1['지하철역'] =='먹골')|(free_ride1['지하철역'] =='중화')|(free_ride1['지하철역'] =='양원')|(free_ride1['지하철역'] =='봉화산(서울의료원)')|(free_ride1['지하철역'] =='용마산')]
jungrang_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
jungrang_free_ride_2021.head()

         사용월        지하철역  무임승차인원  무임하차인원
2612  202112          신내       1       0
2643  202112  봉화산(서울의료원)   41030   40803
2670  202112          중화   55825   56451
2678  202112          먹골   55010   55990
2693  202112         사가정   85407   85930

In [22]:
free_ride_jungrang_2021 = jungrang_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_jungrang_2021))
free_ride_jungrang_2021 = jungrang_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_jungrang_2021))

43624
43874

## 은평구

In [23]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '수색')|(free_ride1['지하철역'] =='연신내')|(free_ride1['지하철역'] =='디지털미디어시티')|(free_ride1['지하철역'] =='구파발')|(free_ride1['지하철역'] =='증산')|(free_ride1['지하철역'] =='새절')|(free_ride1['지하철역'] =='불광')|(free_ride1['지하철역'] =='응암')|(free_ride1['지하철역'] =='구산')|(free_ride1['지하철역'] =='녹번')|(free_ride1['지하철역'] =='독바위')|(free_ride1['지하철역'] =='역촌')|(free_ride1['지하철역'] =='연신내')|(free_ride1['지하철역'] =='불광')]
eunpeong_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
eunpeong_free_ride_2021.head()

         사용월 지하철역  무임승차인원  무임하차인원
2512  202112  구파발   98956   94981
2518  202112   불광  117579  129643
2521  202112   녹번   66430   65478
2522  202112  연신내  219200  213071
2617  202112   응암   97795   97665

In [24]:
free_ride_eunpeong_2021 = eunpeong_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_eunpeong_2021))
free_ride_eunpeong_2021 = eunpeong_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_eunpeong_2021))

56322
56253

## 종로구

In [25]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '경복궁')|(free_ride1['지하철역'] =='광화문')|(free_ride1['지하철역'] =='종로3가')|(free_ride1['지하철역'] =='혜화')|(free_ride1['지하철역'] =='안국')|(free_ride1['지하철역'] =='종각')|(free_ride1['지하철역'] =='동묘앞')|(free_ride1['지하철역'] =='동대문')|(free_ride1['지하철역'] =='종로5가')|(free_ride1['지하철역'] =='독립문')]
jongro_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
jongro_free_ride_2021.head()

         사용월  지하철역  무임승차인원  무임하차인원
2437  202112    종각  116282  108719
2438  202112  종로3가  249355  234742
2439  202112  종로5가  220044  210306
2442  202112   동대문  104871  102595
2444  202112   동묘앞  122515  123248

In [26]:
free_ride_jongro_2021 = jongro_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_jongro_2021))
free_ride_jongro_2021 = jongro_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_jongro_2021))

111773
109322

## 서대문구

신촌
충정로
가좌
홍제
서대문
무악재
충정로
이대
아현
독립문

In [7]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '신촌')|(free_ride1['지하철역'] =='충정로')|(free_ride1['지하철역'] =='가좌')|(free_ride1['지하철역'] =='홍제')|(free_ride1['지하철역'] =='서대문')|(free_ride1['지하철역'] =='무악재')|(free_ride1['지하철역'] =='충정로')|(free_ride1['지하철역'] =='이대')|(free_ride1['지하철역'] =='아현')|(free_ride1['지하철역'] =='독립문')]
seodae_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
seodae_free_ride_2021.head()

         사용월 지하철역  무임승차인원  무임하차인원
2450  202112   아현   55583   55013
2460  202112   이대   40478   42304
2478  202112   신촌  103893  100750
2506  202112  무악재   24476   26906
2524  202112   홍제  117295  115650

In [8]:
free_ride_seodae_2021 = seodae_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_seodae_2021))
free_ride_seodae_2021 = seodae_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_seodae_2021))

53289
52710

## 중구

서울역 회현역 시청역 을지로입구역 을지로3가역 명동역 충무로역 
동대문역사문화공원역 동대입구역 약수역 신당역 을지로4가역 청구역 버티고개역

In [9]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '서울')|(free_ride1['지하철역'] =='회현')|(free_ride1['지하철역'] =='시청')|(free_ride1['지하철역'] =='을지로입구')|(free_ride1['지하철역'] =='을지로3가')|(free_ride1['지하철역'] =='명동')|(free_ride1['지하철역'] =='충무로')|(free_ride1['지하철역'] =='동대문역사문화공원')|(free_ride1['지하철역'] =='동대입구')|(free_ride1['지하철역'] =='약수')|(free_ride1['지하철역'] =='신당')|(free_ride1['지하철역'] =='을지로4가')|(free_ride1['지하철역'] =='청구')|(free_ride1['지하철역'] =='버티고개')]
jung_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
jung_free_ride_2021.head()

         사용월   지하철역  무임승차인원  무임하차인원
2443  202112     시청   65715   65083
2461  202112  을지로4가   76676   74906
2470  202112  을지로입구   86779   80990
2476  202112  을지로3가   67899   66751
2477  202112     시청   45989   41650

In [10]:
free_ride_jung_2021 = jung_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_jung_2021))
free_ride_jung_2021 = jung_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_jung_2021))

44991
44196

## 마포구

홍대입구 월드컵경기장 공덕 합정 디지털미디어시티역 이대역 망원역 마포역 대흥역 상수역 마포구청역 아현역 광흥창역 애오개역 서강대역 신촌역

In [11]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '홍대입구')|(free_ride1['지하철역'] =='월드컵경기장')|(free_ride1['지하철역'] =='공덕')|(free_ride1['지하철역'] =='합정')|(free_ride1['지하철역'] =='디지털미디어시티')|(free_ride1['지하철역'] =='이대')|(free_ride1['지하철역'] =='망원')|(free_ride1['지하철역'] =='마포')|(free_ride1['지하철역'] =='대흥')|(free_ride1['지하철역'] =='상수')|(free_ride1['지하철역'] =='마포구청')|(free_ride1['지하철역'] =='아현')|(free_ride1['지하철역'] =='광흥창')|(free_ride1['지하철역'] =='애오개')|(free_ride1['지하철역'] =='서강대')|(free_ride1['지하철역'] =='신촌')]
mapo_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
mapo_free_ride_2021.head()

         사용월  지하철역  무임승차인원  무임하차인원
2450  202112    아현   55583   55013
2460  202112    이대   40478   42304
2472  202112  홍대입구   82749   78997
2478  202112    신촌  103893  100750
2486  202112    합정   58214   57604

In [17]:
free_ride_mapo_2021 = mapo_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_mapo_2021))
free_ride_mapo_2021 = mapo_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_mapo_2021))

36730
35819

## 용산구

서울역 용산역 숙대입구역 이촌역 한남역 이태원역 한강진역 신용산역 
녹사평(용산구청)역 남영역 서빙고역 삼각지역 효창공원앞역

In [13]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '서울')|(free_ride1['지하철역'] =='용산')|(free_ride1['지하철역'] =='숙대입구')|(free_ride1['지하철역'] =='이촌')|(free_ride1['지하철역'] =='한남')|(free_ride1['지하철역'] =='이태원')|(free_ride1['지하철역'] =='한강진')|(free_ride1['지하철역'] =='신용산')|(free_ride1['지하철역'] =='녹사평(용산구청)')|(free_ride1['지하철역'] =='남영')|(free_ride1['지하철역'] =='서빙고')|(free_ride1['지하철역'] =='삼각지')|(free_ride1['지하철역'] =='효창공원앞')]
yong_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
yong_free_ride_2021.head()

         사용월       지하철역  무임승차인원  무임하차인원
2531  202112        삼각지   20002   20921
2533  202112        신용산   44486   44856
2611  202112  녹사평(용산구청)   15367   14685
2631  202112        한강진   13275   13159
2636  202112        이태원   26692   27411

In [14]:
free_ride_yong_2021 = yong_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_yong_2021))
free_ride_yong_2021 = yong_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_yong_2021))

28055
27710

## 성동구

옥수역 성수역 왕십리역 한양대역 뚝섬역 서울숲역 응봉역 답십리역 신금호역 상왕십리역 금호역 행당역 마장역 용답역 신답역

In [19]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '옥수')|(free_ride1['지하철역'] =='성수')|(free_ride1['지하철역'] =='왕십리')|(free_ride1['지하철역'] =='한양대')|(free_ride1['지하철역'] =='뚝섬')|(free_ride1['지하철역'] =='서울숲')|(free_ride1['지하철역'] =='응봉')|(free_ride1['지하철역'] =='답십리')|(free_ride1['지하철역'] =='신금호')|(free_ride1['지하철역'] =='상왕십리')|(free_ride1['지하철역'] =='금호')|(free_ride1['지하철역'] =='행당')|(free_ride1['지하철역'] =='마장')|(free_ride1['지하철역'] =='용답')|(free_ride1['지하철역'] =='신답')]
sung_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
sung_free_ride_2021.head()

         사용월  지하철역  무임승차인원  무임하차인원
2445  202112   한양대   11090   11286
2448  202112    뚝섬   52803   53527
2462  202112    용답   15472   15432
2465  202112    성수   95402   97223
2493  202112  상왕십리   59983   60404

In [20]:
free_ride_sung_2021 = sung_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_sung_2021))
free_ride_sung_2021 = sung_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_sung_2021))

35110
34967

## 광진구

강변역 군자역 건대입구역 아차산역 구의역 어린이대공원역 건대입구역 광나루역 뚝섬유원지역 중곡역

In [21]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '강변')|(free_ride1['지하철역'] =='군자')|(free_ride1['지하철역'] =='건대입구')|(free_ride1['지하철역'] =='아차산')|(free_ride1['지하철역'] =='구의')|(free_ride1['지하철역'] =='어린이대공원')|(free_ride1['지하철역'] =='건대입구')|(free_ride1['지하철역'] =='광나루')|(free_ride1['지하철역'] =='뚝섬유원지')|(free_ride1['지하철역'] =='중곡')]
kuang_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
kuang_free_ride_2021.head()

         사용월   지하철역  무임승차인원  무임하차인원
2485  202112   건대입구   77515   81692
2656  202112  뚝섬유원지   34353   34597
2696  202112     중곡   53415   54647
2697  202112   건대입구   47300   41976
3093  202111   건대입구   81208   85304

In [22]:
free_ride_kuang_2021 = kuang_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_kuang_2021))
free_ride_kuang_2021 = kuang_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_kuang_2021))

50200
50146

## 강서구

김포공항 가양 염창 발산 마곡나루 화곡 개화 양천향교 신방화 까치산 증미 우장산 송정 
마곡 방화 공항시장 개화산 등촌

In [23]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '김포공항')|(free_ride1['지하철역'] =='가양')|(free_ride1['지하철역'] =='염창')|(free_ride1['지하철역'] =='발산')|(free_ride1['지하철역'] =='마곡나루')|(free_ride1['지하철역'] =='화곡')|(free_ride1['지하철역'] =='개화')|(free_ride1['지하철역'] =='양천향교')|(free_ride1['지하철역'] =='신방화')|(free_ride1['지하철역'] =='까치산')|(free_ride1['지하철역'] =='증미')|(free_ride1['지하철역'] =='우장산')|(free_ride1['지하철역'] =='송정')|(free_ride1['지하철역'] =='마곡')|(free_ride1['지하철역'] =='방화')|(free_ride1['지하철역'] =='공항시장')|(free_ride1['지하철역'] =='개화산')|(free_ride1['지하철역'] =='등촌')]
kangseo_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
kangseo_free_ride_2021.head()

         사용월  지하철역  무임승차인원  무임하차인원
2564  202112    발산   78004   75358
2573  202112   우장산   74738   78121
2575  202112   개화산   33410   32961
2582  202112    마곡   34573   33797
2584  202112  김포공항   28522   29846

In [24]:
free_ride_kangseo_2021 = kangseo_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_kangseo_2021))
free_ride_kangseo_2021 = kangseo_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_kangseo_2021))

49688
49202

## 양천구

오목교 양천구청 등촌 신정 신목동 신정네거리 목동 염창

In [25]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '오목교')|(free_ride1['지하철역'] =='양천구청')|(free_ride1['지하철역'] =='등촌')|(free_ride1['지하철역'] =='신정')|(free_ride1['지하철역'] =='신목동')|(free_ride1['지하철역'] =='신정네거리')|(free_ride1['지하철역'] =='목동')|(free_ride1['지하철역'] =='염창')]
yang_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
yang_free_ride_2021.head()

         사용월   지하철역  무임승차인원  무임하차인원
2447  202112   양천구청   39410   40048
2466  202112  신정네거리   59590   60611
2593  202112     목동   70937   71907
2729  202112     염창   60618   59680
2733  202112    신목동   17958   16794

In [26]:
free_ride_yang_2021 = yang_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_yang_2021))
free_ride_yang_2021 = yang_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_yang_2021))

50821
51066

## 영등포구

샛강 영등포 선유도 당산 국회의사당 여의도 양평 여의나루 대방 신길 영등포구청 
문래 보라매 영등포시장 신풍 대림 서울지방병무청

In [27]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '샛강')|(free_ride1['지하철역'] =='영등포')|(free_ride1['지하철역'] =='선유도')|(free_ride1['지하철역'] =='당산')|(free_ride1['지하철역'] =='국회의사당')|(free_ride1['지하철역'] =='여의도')|(free_ride1['지하철역'] =='양평')|(free_ride1['지하철역'] =='여의나루')|(free_ride1['지하철역'] =='대방')|(free_ride1['지하철역'] =='신길')|(free_ride1['지하철역'] =='영등포구청')|(free_ride1['지하철역'] =='문래')|(free_ride1['지하철역'] =='보라매')|(free_ride1['지하철역'] =='영등포시장')|(free_ride1['지하철역'] =='신풍')|(free_ride1['지하철역'] =='대림')|(free_ride1['지하철역'] =='서울지방병무청')]
young_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
young_free_ride_2021.head()

         사용월   지하철역  무임승차인원  무임하차인원
2446  202112  영등포구청   91349   89727
2449  202112     당산   50543   55349
2468  202112     문래   67482   66648
2555  202112     신길    9786   10243
2586  202112  영등포구청   17148   17158

In [28]:
free_ride_young_2021 = young_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_young_2021))
free_ride_young_2021 = young_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_young_2021))

46423
45571

## 금천구

가산디지털단지 독산 금청구청 금천구청

In [29]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '가산디지털단지')|(free_ride1['지하철역'] =='독산')|(free_ride1['지하철역'] =='금천구청')]
kum_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
kum_free_ride_2021.head()

         사용월     지하철역  무임승차인원  무임하차인원
2665  202112  가산디지털단지   80985   76341
2788  202112  가산디지털단지   30578   34454
2794  202112       독산   57134   58299
2804  202112     금천구청   66450   68043
3266  202111  가산디지털단지   84446   79407

In [30]:
free_ride_kum_2021 = kum_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_kum_2021))
free_ride_kum_2021 = young_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_kum_2021))

55722
45571

## 동작구

노량진 사당 이수 숭실대입구 흑석 노들 신대방삼거리 총신대입구(이수) 장승배기
동작 상도 남성 보라매공원 보라매병우너 신대방

In [31]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '노량진')|(free_ride1['지하철역'] =='사당')|(free_ride1['지하철역'] =='이수')|(free_ride1['지하철역'] =='숭실대입구')|(free_ride1['지하철역'] =='흑석')|(free_ride1['지하철역'] =='노들')|(free_ride1['지하철역'] =='신대방삼거리')|(free_ride1['지하철역'] =='총신대입구(이수)')|(free_ride1['지하철역'] =='장승배기')|(free_ride1['지하철역'] =='동작')|(free_ride1['지하철역'] =='상도')|(free_ride1['지하철역'] =='남성')|(free_ride1['지하철역'] =='보라매공원')|(free_ride1['지하철역'] =='보라매병원')|(free_ride1['지하철역'] =='신대방')]
jack_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
jack_free_ride_2021.head()

         사용월       지하철역  무임승차인원  무임하차인원
2480  202112        신대방  107709  109601
2492  202112         사당  151989  146637
2538  202112  총신대입구(이수)  123924  130922
2539  202112         사당   72618   71871
2653  202112       장승배기   57612   58061

In [32]:
free_ride_jack_2021 = jack_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_jack_2021))
free_ride_jack_2021 = jack_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_jack_2021))

71455
71142

## 관악구

신림 서울대입구 낙성대 신대방 봉천 관악산 서원 서울대벤처타운 당곡 사당 남태령

In [33]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '신림')|(free_ride1['지하철역'] =='서울대입구')|(free_ride1['지하철역'] =='낙성대')|(free_ride1['지하철역'] =='신대방')|(free_ride1['지하철역'] =='봉천')|(free_ride1['지하철역'] =='관악산')|(free_ride1['지하철역'] =='서원')|(free_ride1['지하철역'] =='서울대벤처타운')|(free_ride1['지하철역'] =='당곡')|(free_ride1['지하철역'] =='사당')|(free_ride1['지하철역'] =='남태령')]
kuan_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
kuan_free_ride_2021.head()

         사용월 지하철역  무임승차인원  무임하차인원
2479  202112   신림  193877  197464
2480  202112  신대방  107709  109601
2482  202112   봉천  121295  121944
2492  202112   사당  151989  146637
2529  202112  남태령    7599    6938

In [34]:
free_ride_kuan_2021 = kuan_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_kuan_2021))
free_ride_kuan_2021 = kuan_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_kuan_2021))

104140
103765

## 서초구

사평 양재 고속터미널 교대 남부터미널 양재시민의숲 잠원 신반포 청계산입구 내방 
방배 서초 구반포 반포 남태령 신논현

In [35]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '사평')|(free_ride1['지하철역'] =='양재')|(free_ride1['지하철역'] =='고속터미널')|(free_ride1['지하철역'] =='교대')|(free_ride1['지하철역'] =='남부터미널')|(free_ride1['지하철역'] =='양재시민의숲')|(free_ride1['지하철역'] =='잠원')|(free_ride1['지하철역'] =='신반포')|(free_ride1['지하철역'] =='청계산입구')|(free_ride1['지하철역'] =='내방')|(free_ride1['지하철역'] =='방배')|(free_ride1['지하철역'] =='서초')|(free_ride1['지하철역'] =='구반포')|(free_ride1['지하철역'] =='반포')|(free_ride1['지하철역'] =='남태령')|(free_ride1['지하철역'] =='신논현')]
seocho_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
seocho_free_ride_2021.head()

         사용월   지하철역  무임승차인원  무임하차인원
2454  202112     서초   64735   64091
2455  202112     방배   63384   62418
2503  202112     잠원   26594   25895
2515  202112  고속터미널  144347  138220
2529  202112    남태령    7599    6938

In [36]:
free_ride_seocho_2021 = seocho_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_seocho_2021))
free_ride_seocho_2021 = seocho_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_seocho_2021))

43651
42432

## 송파구

잠실 종합운동장 몽촌토성 잠실새내 올림픽공원 가락시장 석촌 오금 문정 장지 복정
방이 거여 마천 개롱 경찰병원 송파 강동구청 삼전 송파나루 석촌고분 한성백제 둔촌오륜

In [37]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '잠실')|(free_ride1['지하철역'] =='종합운동장')|(free_ride1['지하철역'] =='몽촌토성')|(free_ride1['지하철역'] =='잠실새내')|(free_ride1['지하철역'] =='올림픽공원')|(free_ride1['지하철역'] =='가락시장')|(free_ride1['지하철역'] =='석촌')|(free_ride1['지하철역'] =='오금')|(free_ride1['지하철역'] =='문정')|(free_ride1['지하철역'] =='장지')|(free_ride1['지하철역'] =='복정')|(free_ride1['지하철역'] =='방이')|(free_ride1['지하철역'] =='거여')|(free_ride1['지하철역'] =='마천')|(free_ride1['지하철역'] =='개롱')|(free_ride1['지하철역'] =='경찰병원')|(free_ride1['지하철역'] =='송파')|(free_ride1['지하철역'] =='강동구청')|(free_ride1['지하철역'] =='삼전')|(free_ride1['지하철역'] =='송파나루')|(free_ride1['지하철역'] =='석촌고분')|(free_ride1['지하철역'] =='한성백제')|(free_ride1['지하철역'] =='둔촌오륜')]
song_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
song_free_ride_2021.head()

         사용월   지하철역  무임승차인원  무임하차인원
2452  202112  종합운동장   33220   34300
2453  202112   잠실새내   89134   89009
2497  202112     오금   24443   23180
2499  202112   가락시장   61759   60417
2502  202112   경찰병원   35698   36579

In [38]:
free_ride_song_2021 = song_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_song_2021))
free_ride_song_2021 = song_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_song_2021))

35363
35061

## 강동구

천호 상일동 둔촌동 굽은다리 강동 암사 고덕 명일 길동 중앙보훈병원 강일

In [39]:
free_ride2 = free_ride1[(free_ride1['지하철역'] == '천호')|(free_ride1['지하철역'] =='상일동')|(free_ride1['지하철역'] =='둔촌동')|(free_ride1['지하철역'] =='굽은다리')|(free_ride1['지하철역'] =='강동')|(free_ride1['지하철역'] =='암사')|(free_ride1['지하철역'] =='고덕')|(free_ride1['지하철역'] =='명일')|(free_ride1['지하철역'] =='길동')|(free_ride1['지하철역'] =='중앙보훈병원')|(free_ride1['지하철역'] =='강일')]
kangdong_free_ride_2021 = free_ride2[(free_ride2['사용월'] == 202101)|(free_ride2['사용월'] == 202102)|(free_ride2['사용월'] == 202103)|(free_ride2['사용월'] == 202104)|(free_ride2['사용월'] == 202105)|(free_ride2['사용월'] == 202106)|(free_ride2['사용월'] == 202107)|(free_ride2['사용월'] == 202108)|(free_ride2['사용월'] == 202109)|(free_ride2['사용월'] == 202110)|(free_ride2['사용월'] == 202111)|(free_ride2['사용월'] == 202112)]
kangdong_free_ride_2021.head()

         사용월 지하철역  무임승차인원  무임하차인원
2556  202112   강동   86710   84014
2558  202112   길동   62643   64721
2567  202112   명일   57576   60443
2583  202112   고덕   55581   55131
2604  202112  상일동   76397   73478

In [40]:
free_ride_kangdong_2021 = kangdong_free_ride_2021['무임승차인원'].mean()
print(round(free_ride_kangdong_2021))
free_ride_kangdong_2021 = kangdong_free_ride_2021['무임하차인원'].mean()
print(round(free_ride_kangdong_2021))

60673
60248